<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>自动化系统</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/logo.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">自动化系统</h2>
    <div class="kv-wrap">
        <img src="../dist/images/as-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <p class="des">
            <span class="firstletter">自</span>动化系统能利用智能电子装置控制动力。
            我们的发动机功能强劲，技术先进。为了提供最佳的效率、可靠性、安全性和环保特性，发动机不仅需要动力，而且还需要具备智能电子管理装置。
            我们利用现代发动机管理系统处理对硬件的控制和监控，以实现完美的性能，实现动力和精确度的结合。
        </p>
    </div>
    <footer class="footer">
        <a class="more" href="https://www.mtu-online.com/china/products/automation-systems/index.cn.html">点击这里了解更多</a>
    </footer>
</div>
</body>
</html>
