<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MTU是罗罗动力系统的核心，是罗尔斯罗伊斯公司的全资子公司</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/partnership.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">发电机</h2>
    <div class="kv-wrap">
        <img src="../dist/images/dynamotor-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <p class="des">
            <span class="firstletter">MTU</span>发电用发动机可以轻松集成到发电机组中，提供可靠的电力，用作医院、数据中心、机场、写字楼、购物中心、工业设施、公共设施、酒店或娱乐场所的发电机组驱动系统。
            从关键任务到备用电力，再到连续电力、供热与制冷。我们也可提供规格齐全的配套服务，可助您的设备发挥最大效益。我们的柴油发动机维护时间间隔长，且进行了燃料优化，使之在低成本高效运营以及符合排放规定方面令人信服，满足对能源日益增长的需求。
        </p>
    </div>
    <footer class="footer">
        <a class="more" href="https://www.mtu-online.com/china/applications/index.cn.html">点击这里了解更多</a>
    </footer>
</div>
</body>
</html>