<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>发动机</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-engine">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/logo.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">发动机</h2>
    <div class="kv-wrap">
        <img src="../dist/images/engine-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <p class="des">
            <span class="firstletter">MTU</span>是罗尔斯·罗伊斯动力系统公司的核心品牌，而罗尔斯·罗伊斯动力系统公司是一家生产中高速柴油发动机和燃气发动机、成套驱动系统、分布式能源系统以及燃料喷射系统的全球领先供应商，其产品能够适应最严苛的工作条件。尤其在航运领域，公司与全球所有海域的数万个发动机使用者建立了成功的长期合作伙伴关系。
        </p>
        <p class="des">
         基于其创新能力、可靠性和系统能力，MTU将独有的驱动系统专业技术和大量优质产品相结合。无论您身在何处，随时可享受到MTU全套产品和客户服务带来的益处，让您的设备达到最高的使用价值。
        </p>
    </div>
    <footer class="footer">
        <a class="more" href="https://www.mtu-online.com/china/products/engine-program/index.cn.html">点击这里了解更多</a>
    </footer>
</div>
</body>
</html>