<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>工业</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/logo.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">工业</h2>
    <div class="kv-wrap">
        <img src="../dist/images/industry-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <p class="des">
            <span class="firstletter">MTU</span>发动机在工业方面具有广泛的应用，可以为铁路、采矿、建筑、石油天然气工业、以及农林用机械提供可靠强劲的动力。作为系统供应商，MTU可根据各应用的特点和您的需求专为您量身定制全套解决方案，针对高度专业化应用，可提供多种动力输出选择，实现更大的灵活性。
            针对这些应用，MTU发动机采用了具有最高性能、可靠性、可用率和维护方便的结构设计。我们的发动机在高温、寒冷和灰尘等极端条件下也可无故障运转，以确保发动机可达到最大利用率。最重要的是，其维护时间间隔长和燃料有效使用的特性，可实现极低的运行成本。
        </p>
    </div>
    <footer class="footer">
        <a class="more" href="https://www.mtu-online.com/china/applications/index.cn.html">点击这里了解更多</a>
    </footer>
</div>
</body>
</html>