<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MTU 简介</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
    <div id="orientLayer" class="mod-orient-layer">
        <div class="mod-orient-layer__content">
            <i class="icon mod-orient-layer__icon-orient"></i>
            <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
        </div>
    </div>
    <!--main content-->
    <div class="wrapper">
        <header class="header">
            <img src="../dist/images/partnership.jpg" alt="Power.Passion Partnership"/>
        </header>
        <h2 class="page-title">MTU 简介</h2>
        <div class="kv-wrap">
            <img src="../dist/images/intro-kv.jpg" alt="MTU"/>
        </div>
        <div class="content">
            <p class="des">
                <span class="firstletter">MTU</span>是罗罗动力系统的核心，是罗尔斯罗伊斯公司的全资子公司。
            </p>
            <p>
                MTU已在中国发展成熟，主要分公司分别位于香港、苏州和上海。MTU香港公司负责分销和直接客户支持；MTU苏州负责整个中国区的产品维修及售后服务支持，同时也是一家组装厂，利用厂内设备提供2000系列发电机组用发动机的组装和供货；MTU上海咨询公司则致力于制定和管理国内的战略活动。
                此外，MTU苏州还在北京、上海、大连和深圳均设有分支机构，并在中国国内的多地发展有服务伙伴，这是我们与客户互通的重要渠道。有赖于MTU服务伙伴的强大网络，使得MTU能够为中国所有尊贵的客户提供售后服务。
            </p>
            <p>
                安特优发动机工程（苏州）有限公司最初作为“MTU服务中心”于1996年成立。它坐落于苏州工业园区（SIP），拥有培训设施和维修车间，可为中国所有MTU客户提供服务。
            </p>
            <p>为满足MTU在中国扩展柴油发动机组装业务的需求，该公司于2006年搬迁至龙运路9号的新工厂（仍位于苏州工业园区内）。这个新厂是MTU集团在全球的第三个生产基地，负责发电用MTU 2000系列发动机的组装工作。</p>
            <p>
                2010年，罗尔斯·罗伊斯动力系统公司和中国北方工业公司共同组建了合资企业，即山西北方安特优发动机有限责任公司，生产MTU956系列柴油发动机，应用于核电项目的应急发电机组。2016年，MTU与广西玉柴机器股份有限公司宣布成立一家合资企业，即玉柴安特优动力有限公司，从2017年起生产MTU 4000系列柴油发动机，应用于发电机组和石油天然气工业。
            </p>
            <p>我们拥有训练有素的团队且在为中国客户提供支持方面富有经验，我们自信能够想客户之所想，以可靠产品为客户提供高质量解决方案！</p>
        </div>
        <footer class="footer">
            <a class="more" href="https://www.mtu-online.com/china/company/mtu-china/index.cn.html">点击这里了解更多</a>
        </footer>
    </div>
</body>
</html>
