<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>MTU是罗罗动力系统的核心，是罗尔斯罗伊斯公司的全资子公司</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-part-service">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/partnership.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">零备件及服务</h2>
    <div class="kv-wrap">
        <img src="../dist/images/part-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <div class="item-part">
            <h3 class="title">
                您已投入巨资，用MTU ValueCare保护您的投资
            </h3>
            <p class="des">
                MTU发动机和系统性能可靠，经久耐用，但我们助您成功的承诺并不止于此。为了确保您的设备获得最佳性能、更长使用寿命和最优成本，请采用MTU ValueCare——唯一专门定制的服务产品组合。
            </p>
        </div>
        <div class="item-part">
            <h3 class="title">
                提高性能并延长设备的使用寿命
            </h3>
            <p class="des">
                ·通过采用MTU认证技术人员提供的专业服务可避免意外损失<br>
                ·通过采用正品滤器、润滑油、冷却液和原厂零备件可确保您的设备运转良好<br>
                ·通过广泛的实际操作培训可提高您的操作人员和维护人员的能力<br>
                ·通过采用原厂再制造解决方案可保持设备的良好性能
            </p>
        </div>
        <div class="item-part">
            <h3 class="title">
                在没有增加风险的前提下优化成本
            </h3>
            <p class="des">
                ·通过采用预防性维护服务最大程度地提高燃油经济性，延长设备的正常运行时间<br>
                ·通过采用长期服务协议可实现成本确定性和最大利用率<br>
                ·通过采用超出标准保修期范围的延保计划可减少修理成本<br>
                ·通过采用远程服务可主动地远程监控设备正常运行状态<br>
                ·通过我们的再制造计划，在不降低质量的前提下减少零部件的花费
            </p>
        </div>
        <div class="item-part">
            <p class="des">
                我们1,200多个服务点组成的全球网络可随时随地为您提供MTU ValueCare产品和服务。联系您当地的服务合作伙伴，咨询如何能定制MTU ValueCare产品和服务，以满足您的独特需求。
            </p>
        </div>
    </div>
    <footer class="footer">
        <a class="more" href="https://www.mtu-online.com/china/parts-service/index.cn.html">点击这里了解更多</a>
    </footer>
</div>
</body>
</html>
