<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>船用</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="../dist/css/style.css" />
</head>
<body class="page-home">
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <header class="header">
        <img src="../dist/images/partnership.jpg" alt="Power.Passion Partnership"/>
    </header>
    <h2 class="page-title">船用</h2>
    <div class="kv-wrap">
        <img src="../dist/images/ship-kv.jpg" alt="MTU"/>
    </div>
    <div class="content">
        <p class="des">
            <span class="firstletter">当</span>今，MTU在船用发动机领域已占有一席之地。无论是数以万计的商船，还是高端奢华的游艇，甚至是要求严苛的国防用船，MTU发动机都能提供定制化的完美支持。这些发动机无论是用于主驱动系统或辅助驱动系统方面，还是作为船上供电系统提供电力，皆性能可靠而高效。根据各应用的不同要求，MTU还提供完全匹配的自动化系统，使发动机与船舶完美结合，实现最佳性能。
        </p>
    </div>
    <footer class="footer">
        <a class="more" href="https://www.mtu-online.com/china/applications/index.cn.html">点击这里了解更多</a>
    </footer>
</div>
</body>
</html>
